.container {
  display: grid;
  place-items: center;
  height: 100vh;
}

.card {
  background-color: hsl(0, 0%, 100%);
  width: 325px;
  height: 500px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  &__img {
    width: 100%;
    border-radius: 10px;
  }
  &__title {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1.5em;
    font-weight: 700;
    text-align: center;
    color: hsl(218, 44%, 22%);
  }
  &__text {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1.1em;
    font-weight: 400;
    text-align: center;
    color: hsl(220, 15%, 55%);
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
